.main {
  height: 100%;
  width: 100%;
  background-color: white;
}

.top {
  height: 90%;
  width: 100%;
  border: 1px solid;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

.left {
  height: 80%;
  width: 20%;


  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  height: 80%;
  width: 20%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  /* padding: 10px;*/
  gap: 10px;
}

.signInBox {
  height: 75%;
  width: 100%;
  border: 1px solid #ccc;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 15px;
}

.appLogo {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.appLogo img {
  height: 70%;
  width: 60%;
}

.loginForm {
  height: 35%;
  width: 80%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.loginForm input {
  height: 35px;
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 5px;
  background-color: rgb(246, 246, 246);
}

.loginForm button {
  margin-top: 15px;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  background-color: var(--buttonColor);
  color: var(--buttonTextColor);
  cursor: pointer;
  font-weight: 600;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  color: #737373;
  margin: 10px 0;
}

.line1 {
  height: 1px;
  width: 106px;
  background-color: #cccbcbee;
  margin-right: 15px;
}

.line2 {
  height: 1px;
  width: 106px;
  background-color: #cccbcbee;
  margin-left: 15px;
}


.socialLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #3b5998;
  cursor: pointer;
  

}

.socialLogin p {
  font-weight: 600;
}

.forgotPassword {
  font-size: small;
  cursor: pointer;

}

.signUpBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  border: 1px solid #ccc;
}

.signUp {
  color: var(var--buttonColor);
  font-weight: 600;
  cursor: pointer;

}

.getAppBox {
  height: 15%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.getAppBox p {
  all: unset;
  width: 100%;
  padding-bottom: 12px;
}

.getApp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 50%;
  width: 75%;
  gap: 8px;
  cursor: pointer;

}

.googleBtn {
  height: 100%;
  width: 100%;
}

.googleBtn img {
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
}

.microsoftBtn {
  height: 100%;
  width: 100%;
}

.microsoftBtn img {
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
}
