.main {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.signUpFormContainer {
  height: 90%;
  width: 25%;
  border: 1px solid #ccc;
  
}

.top {
  height: 40%;
  width: 100%;
  border: 1px solid;
}

.appLogo {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.appLogo img {
  height: 90%;
  width: 50%;
}

.top p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: rgba(97, 97, 97, 0.962);
}

.socialLogin {
  height: 15%;
  width: 80%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLogin button {
  height: 90%;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--buttonColor);
  color: white;
  cursor: pointer;
  

}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  width: 100%;
 
  font-size: 13px;
  font-weight: bold;
  color: #737373;
  margin: 20px 0;
}

.line1 {
  height: 1px;
  width: 106px;
  background-color: #cccbcbee;
  margin-right: 15px;
}

.line2 {
  height: 1px;
  width: 106px;
  background-color: #cccbcbee;
  margin-left: 15px;
}

.mid {
  height: 30%;
  width: 100%;
  
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.loginForm {
  height: 95%;
  width: 80%;
  
  gap: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.loginForm input {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 5px;
  background-color: rgb(246, 246, 246);
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 30%;
  width: 100%;
  border: 1px solid;
}

.bottom p {
  font-size: small;
  color: rgba(97, 97, 97, 0.962);
}


.bottom button {
  height: 35px;
  width: 80%;
  background-color: var(--buttonColor);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  
  cursor: pointer;
}

.signInCTA {
  height: 10%;
  width: 25%;
  border: 1px solid #ccc;
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.logIn {
  color: var(--buttonColor);
  cursor: pointer;
}
