.moreModel {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.left {
  height: 100%;
  width: 20%;
  border: 1px solid #ccc;
}

.appLogo {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10%;
  padding-left: 10%;
}

.appLogo img {
  height: 90%;
  width: 40%;
}

.tabList {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 10%;
}

.tabList > * {
  cursor: pointer;
}

.sidebarIcon {
  font-size: 30px;
  margin: auto;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home:hover .sidebarIcon {
  font-size: 32px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search:hover .sidebarIcon {
  font-size: 32px;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.explore:hover .sidebarIcon {
  font-size: 32px;
}

.reels {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.reels:hover .sidebarIcon {
  font-size: 32px;
}

.messages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.messages:hover .sidebarIcon {
  font-size: 32px;
}

.notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.notifications:hover .sidebarIcon {
  font-size: 32px;
}

.create {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create:hover .sidebarIcon {
  font-size: 32px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile:hover .profileImg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profileImg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.profileImgActive {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid;
}

.components2 {
  height: 20%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 10%;
}

.threads {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}
.more .moreModel {
  height: 56%;
  width: 22%;
  border-radius: 20px;
  position: absolute;
  left: 1%;
  bottom: 10px;
  border: 1px solid red;
  display: none;
}

.top {
  height: 70%;
  width: 100%;
  border-bottom: 1px solid red;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
}

.settings {
  display: flex;
  align-items: center;
  gap: 5px;
}

.activity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.save {
  display: flex;
  align-items: center;
  gap: 5px;
}

.switch {
  display: flex;
  align-items: center;
  gap: 5px;
}

.report {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bottom {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  
}




.more:hover .sidebarIcon {
  font-size: 32px;
}

.right {
  height: 100%;
  width: 80%;
  border: 1px solid;
  overflow: auto;
  display: flex;
}

.searchClickedRight {
  height: 100%;
  width: 95%;
  border: 1px solid;
  overflow: auto;
  display: flex;
}

.right::-webkit-scrollbar {
  display: none;
}

.leftContainer {
  width: 60%;
}

.userStories {
  height: 10%;
  width: 100%;
  border: 1px solid;
}

.posts {
  height: auto;
  width: 100%;
}

.rightContainer {
  width: 40%;
}

.userProfile {
  height: 10%;
  width: 100%;
  border: 1px solid;
}

.suggestedFrd {
  height: 90%;
  width: 100%;
  border: 1px solid;
}

.notificationsModal {
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0px;
  left: 70px;
  bottom: 0px;
  background-color: red;
  z-index: 2;
}
