.main {
    height: auto;
    width: 100%;
  }
  
  .postContainer {
    height: auto;
    width: 60%;
    border: 1px solid;
    margin: auto;
    padding-bottom: 20px;
  }
  
  .profileInfo {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;
    gap: 5px;
   
  }

  .profileInfo img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;

  }
  
  .post {
    height: 500px;
    width: 100%;
    border-bottom: 1px solid red;
  }

  .post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .engagementButtons {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid red;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
  } 

  .engagementButtonsLeft {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
  }

  .likesInfo {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;
  }
  
  .postTitle {
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid red;
  }
  
  .postTitle p {
    all: unset;
  }
  
  .viewPostContent {
    display: block;
  }
  
  .viewComments {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;
    color: grey;
    cursor: pointer;
  }
  
  .addComments {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;
    
    
  }

  .addComments input {
    height: 100%;
    width: 100%;
    color: grey;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    
  }