.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right {
  height: 100%;
  width: 100%;
  border: 1px solid;
  overflow: auto;
  display: flex;
}

.right::-webkit-scrollbar {
  display: none;
}

.leftContainer {
  width: 60%;
}

.userStories {
  height: 15%;
  width: 100%;
  border: 1px solid;
  padding: 10px;
  padding-left: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
   
}

.userStory {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;

}

.profilePic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.profilePic img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  
}

.profileName p {
 
  all: unset;
  

}

.posts {
  height: auto;
  width: 100%;
}

.rightContainer {
  width: 40%;
}

.userProfile {
  height: 10%;
  width: 100%;
  border: 1px solid;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileRight {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
 gap: 8px;
}

.userProfilePic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.userProfilePic:hover {
  cursor: pointer;
}

.profileLeft {
  color: var(--buttonColor);
}

.profileLeft:hover {
  cursor: pointer;
  color: rgb(0, 0, 101);
}

.userProfilePic img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userProfileName p {
  all: unset;
}

.userProfileName {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3px;
  margin-left: 5px;
}

.suggestedFrd {
  height: 90%;
  width: 100%;
  border: 1px solid;
  padding: 10px 10%;
}

.header {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header:hover {
  color: grey;
}

.header p {
  all: unset;
}

.friends {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px;
}

.friends .profileRight {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}